
.body{
    background-color: #0E1947;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Inter;
    color: white;
}

a{
    color: #939AB0;
    text-decoration: none;
    padding: 0 4px;
    font-size: 16px;
}

h1, h2, h3, h4, h5, p{
    margin: 0 0 10px;
}

a:active, a:hover{
    color: white;
}

.btn{
    background-color: #1E90FF;
    border: 3px solid #1E90FF;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    color: white;
    font-family: Inter;
    font-weight: bold;
    font-size: 16px;
}

.btn:hover, btn:active{
    background-color: transparent;
    border: 3px solid #1E90FF;
}

.select{
    width: 70vh;
    border-radius: 3px;
    height: 45px;
    background-color: #353D62;
    border: 2px solid #939AB0;
    color: #939AB0;
    font-family: Inter;
    font-size: 16px;
    margin-top: 10px;
}

.header{
    width: 94%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #353D62;
    height: 8vh;
    padding-right: 3%;
    padding-left: 3%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12vh;
    padding-left: 8vh;
    padding-right: 8vh;
}

.content_games{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content_left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    background-color: #353D62;
    border: 2px solid #939AB0;
    border-radius: 4px;
    padding: 20px;
}

.content_right{
    display: flex;
    flex-direction: column;
}

.list{
    display: flex;
    flex-direction: column;
    background-color: #262D4F;
    border: none;
    border-radius: 8px;
    gap: 20px;
    list-style-type: none;
    margin: 0 0 0 5vh;
    padding: 20px;
}

.list_game{
    background-color: #353D62;
    padding: 20px;
    border: none;
    border-radius: 8px;
}

.link{
    color: #1E90FF;
    margin: 0 0 10px;
    padding: 0;
}

.game_info_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content:end;
    margin-bottom: 30px;
    margin-top: 30px;
}