
.body{
    background-color: #0E1947;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Inter, sans-serif;
    color: white;
}

a{
    color: #939AB0;
    text-decoration: none;
    padding: 0 4px;
    font-size: 16px;
}

a:active, a:hover{
    color: white;
}

.btn{
    background-color: #1E90FF;
    border: 3px solid #1E90FF;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    color: white;
    font-family: Inter;
    font-weight: bold;
    font-size: 16px;
    height: 45px;
}

.btn:hover, btn:active{
    background-color: transparent;
    border: 3px solid #1E90FF;
}

.select{
    width: 70vh;
    border-radius: 3px;
    height: 45px;
    background-color: #353D62;
    border: 2px solid #939AB0;
    color: #939AB0;
    font-family: Inter;
    font-size: 16px;
    margin-top: 10px;
}

.header{
    width: 94%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #353D62;
    height: 8vh;
    padding-right: 3%;
    padding-left: 3%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12vh;
    padding-left: 8vh;
    padding-right: 8vh;
}

.content_games{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content_left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    background-color: #353D62;
    border: 2px solid #939AB0;
    border-radius: 4px;
    padding: 20px;
}

.content_right{
    display: flex;
    flex-direction: column;
}

.list{
    display: flex;
    flex-direction: column;
    background-color: #262D4F;
    border: none;
    border-radius: 8px;
    gap: 20px;
    list-style-type: none;
    margin: 0 0 0 5vh;
    padding: 20px;
}

.list_game{
    background-color: #353D62;
    padding: 20px;
    border: none;
    border-radius: 8px;
}

.link{
    color: #1E90FF;
    margin: 0 0 10px;
    padding: 0;
}

#dev{
    color: #BFBFBF;
    padding: 5px;
    border: 2px solid #1E90FF;
    border-radius: 4px;
    margin-left: 5px;
}

.game_info_block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content:end;
    margin-bottom: 30px;
    margin-top: 30px;
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*width: 100vh;*/
    max-width: 100%;
    gap: 20px;
}

select{
    min-width: 60%;
    height: 45px;
}

.tags{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-column-gap: 5px;
    grid-row-gap: 1em;
    margin-top: 20px;
}

.tag{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin: 0;
    background-color: #353D62;
    width: 100%;
}

.select2-results__option {
    background-color: white;
    color: black;
}

.select2-selection__choice{
    color: black;
}

.select2-selection, .select2-selection__rendered{
    border-radius: 3px;
    height: fit-content;
    min-height: 45px;
    background-color: #353D62;
    border: 2px solid #939AB0;
    color: #939AB0;
    font-family: Inter;
    font-size: 16px;
}

/*#id_tags{*/
/*    width: 40vh;*/
/*}*/

#id_price, #id_date, #id_popularity{
    border-radius: 3px;
    max-height: 100px;
    background-color: #353D62;
    border: 2px solid #939AB0;
    color: #939AB0;
    font-family: Inter;
    font-size: 16px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li{
    font-family: Inter;
    background-color: white;
    border: 2px solid #1E90FF;
    border-radius: 3px;
}
.select2-search__field, .select2-search{
    /*display: none;*/
    border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove, .select2-selection__clear{
    color: #1E90FF;
}

.select2-container--default .select2-selection--multiple{
    background-color: #0E1947;
    border: none;
}

#select2-id_name-container{
    color: white;
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100vh;
}

#id_name{
    width: 297px;
}

.main_text{
    width: 50%;
}

.main_content{
    width: 70%;
    height: 50px;
}

.main_img{
    position: absolute;
    right: 0;
}

.plot{
    width: 100%;
    height: auto;
}

.plot img {
    width: 100%;
}