{% extends 'web/base.html' %}
{% block content %}
<div class="profile_info_wrapper">
    <h1>Профиль</h1>
    <div class="profile_info">
        <div class="profile_info_content">
            <h3>Данные профиля</h3>
            <div class="profile_info_text">
                <h class="profile_text">Логин:</h>
                {{ user.username }}
            </div>
            <div class="profile_info_text">
                <h class="profile_text">Email:</h>
                {{ user.email }}
            </div>
        </div>
        <div class="profile_info_content">
            <h3>Сохраненные системные характеристики</h3>
                {% for syst_char in syst_char_list %}
                    <div class="profile_char">
                    <div class="profile_info_text">
                            <h class="profile_text">ОС:</h>
                            {{ syst_char.os }}
                        </div>
                        <div class="profile_info_text">
                            <h class="profile_text">Процессор:</h>
                            {{ syst_char.processor }}
                        </div>
                        <div class="profile_info_text">
                            <h class="profile_text">Оперативная память:</h>
                            {{ syst_char.memory }}
                        </div>
                        <div class="profile_info_text">
                            <h class="profile_text">Видеокарта:</h>
                            {{ syst_char.graphics }}
                        </div>
                        <div class="profile_info_text">
                            <h class="profile_text">DirectX:</h>
                            {{ syst_char.directx }}
                        </div>
                        <div class="profile_info_text">
                            <h class="profile_text">Свободное место:</h>
                            {{ syst_char.storage }}GB
                        </div>
                        <small><a href="{% url 'syst_char_delete' syst_char.id %}">удалить</a></small>
                    </div>
                {% endfor %}
            <div>
                <button onclick="location.href='{% url 'syst_char_add' %}'" type="button" class='btn'>
                Добавить</button>
            </div>
        </div>
    </div>
</div>

<h2>Сохраненные игры</h2>
<ul class="list_profile">
    {% for game in favourite_games %}
    <li class="list_game">
        <div class="game_info_block">
            <h3>{{ game.name }} ({{ game.release_date }})</h3>
            <p style="color: {{ game.ram }}">{{ game.reviews }} reviews ({{ game.popularity }})</p>
            <p>{{ game.price }} Руб.</p><br>
        </div>
        <a href="{{game.link}}" class="link">{{ game.link }}</a><br>
        <span style="display: flex; flex-direction: row">
                    {% for dev in game.developer %}
                        <h4 id="dev">{{ dev }}</h4>
                    {% endfor %}
                </span>
        <br>
        Tags:
        <div class="tags">
            {% for tag in game.tags %}
                <div class="tag">{{ tag }}</div>
            {% endfor %}<br>
        </div>
        <br>
        {% if user not in game.users.all %}
        <small><a href="#" class="favourite_game_add_js" data-game-id="{{ game.id }}">В избранное</a></small>
        {% endif %}
        <small><a href="{% url 'favourite_game_delete' game.id %}">удалить</a></small>
    </li>
    {% endfor %}
</ul>

<nav class="pagination">
    всего {{ total_count }} записей. {{ favourite_games|length }} на этой странице.
    {% if favourite_games.has_previous %}
    <a href="?page=1">в начало</a>
    <a href="?page={{ favourite_games.previous_page_number }}">предыдующая страница</a>
    {% endif %}

    страница {{ favourite_games.number }} из {{ favourite_games.paginator.num_pages }}

    {% if favourite_games.has_next %}
    <a href="?page={{ favourite_games.next_page_number }}">следующая страница</a>
    <a href="?page={{ favourite_games.paginator.num_pages }}">в конец</a>
    {% endif %}
</nav>
{% endblock %}