{% extends 'web/base.html' %}
{% block content %}
<h2>Найти похожую игру</h2>
<form action="" method="get" enctype="multipart/form-data" class="wrapper">
    {{ form.as_p }}
    <button type="submit" class="btn">Найти</button>
</form>
{% if similar_games is not None %}
{% if similar_games %}
<ul class="list">
    {% for game in similar_games %}
    <li class="list_game">
        <div class="game_info_block">
            <h3>{{ game.name }} ({{ game.release_date }})</h3>
            <p style="color: {{ game.ram }}">{{ game.reviews }} reviews ({{ game.popularity }})</p>
            <p>{{ game.price }} Руб.</p><br>
        </div>
        <a href="{{game.link}}" class="link">{{ game.link }}</a><br>
        <span style="display: flex; flex-direction: row">
                    {% for dev in game.developer %}
                        <h4 id="dev">{{ dev }}</h4>
                    {% endfor %}
                </span>
        <br>
        Tags:
        <div class="tags">
            {% for tag in game.tags %}
            <div class="tag">{{ tag }}</div>
            {% endfor %}<br>
        </div>
        <br>
        {% if user not in game.users.all %}
        <small><a href="#" class="favourite_game_add_js" data-game-id="{{ game.id }}">В избранное</a></small>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<nav class="pagination">
    {% if similar_games.has_previous %}
    <a href="?page=1&name={{ selected_game.id }}&csrfmiddlewaretoken={{ csrf_token }}">в начало</a>
    <a href="?page={{ similar_games.previous_page_number }}&name={{ selected_game.id }}&csrfmiddlewaretoken={{ csrf_token }}">назад</a>
    {% endif %}

    страница {{ similar_games.number }} из {{ similar_games.paginator.num_pages }}

    {% if similar_games.has_next %}
    <a href="?page={{ similar_games.next_page_number }}&name={{ selected_game.id }}&csrfmiddlewaretoken={{ csrf_token }}">вперед</a>
    <a href="?page={{ similar_games.paginator.num_pages }}&name={{ selected_game.id }}&csrfmiddlewaretoken={{ csrf_token }}">в
        конец</a>
    {% endif %}
</nav>
{% else %}
<h2>Похожих игр пока нет</h2>
{% endif %}
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
<script>
    $(document).ready(function () {
        $('.favourite_game_add_js').click(function (event) {
            event.preventDefault();
            var game_id = $(this).data('game-id');
            $.ajax({
                url: "/favourite_game/" + game_id + "/add",
                type: "POST",
                data: {'id': game_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: "json",
            });
            window.location.reload();
        });
    });
</script>
{% endblock %}
